.headeraussehen {
  background-color: rgb(32, 35, 42);
  height: 3rem;
  align-items: center;
  position: fixed; 
  display: flex;
  top: 0; 
  right: 0;
  width: 100%; 

}
div.bild {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 18px;
  padding-left: 40px;

}
div.second {
  position: absolute;
  top: 20px;
  right: 100px;
  width:200px;
  height:100px;
}
div.uberschrift {
  position: absolute;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: white;
  align-items: center;
  font-family: "Lucida Console", "Courier New", light;
}
.dropdown {
  display: inline-block;
  position: absolute;
  right: 60px;
  font-family: "Lucida Console", "Courier New", monospace
}
.dropbtn {

  color: white;
  background-color: rgb(32, 35, 42);
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  border: none;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 23px;
  right:0px;
  background-color:rgb(45, 177, 105);
  min-width: 160px;

  z-index: 1;
}
.dropdown-content a {
  color: rgb(216, 222, 233);
  background-color: rgb(46, 52, 64);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  top: 20px;
  right:10px;
}
.bodyformat {
  background-color: rgb(46, 52, 64);

}
#bigText {
  color: white;
  position: absolute;
  top: 50px;
  display: inline;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  padding-left: 40px;
}
#checkbox1 {
  position: absolute;
  display: block;
  top: 110px;
  left: 70px;
  width: 20px;
  height: 20px;
}
#labelforcheckbox1 {
  top: 115px;
  left: 100px;
  color: white;
  display: block;
  position: absolute;
  font-family: "Lucida Console", "Courier New", monospace;
}
#textarea {
  padding-top: 150px;
  resize: none;
}

div.uberschriftenhome {
  position: absolute;
  font-size: 15px;
  padding-top: 100px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: white;
  align-items: center;
  font-family: "Lucida Console", "Courier New", light;
}

div.vertretungsplan {
  position: absolute;
  font-size: 15px;
  padding-top: 100px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: white;
  align-items: center;
  font-family: "Lucida Console", "Courier New", light;
}



.dropdown-content a:hover {background-color: rgb(79, 89, 110);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(79, 89, 110);}